header {
  width: 100%;

  background-color: antiquewhite;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

.admin-name {
  position: absolute;
  font-size: 20px;
  font-family: sans-serif;

  top: 10px;
  right: 10px;

  background-color: aliceblue;

  padding-left: 5px;
  padding-right: 5px;
}
