header {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  height: 100%;
}

.admin-name {
  position: absolute;
  font-size: 20px;
  font-family: sans-serif;

  top: 10px;
  right: 10px;

  background-color: aliceblue;

  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: center;
    word-break: break-word;
  }

  .admin-name {
    justify-content: center;
    align-items: center;
    margin: 10px auto 0 auto;
    background-color: aliceblue;
    font-size: 1rem;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
  }

}
