<h1>サインイン</h1>
<div>
  <p>名前：testUser</p>
  <p>パスワード：testUser</p>
</div>
<div class="form-group">
  <form [formGroup]="myForm" (submit)="onSignin()">
    <div>
      <label for="name" class="label">名前</label>
      <input id="name" type="text" formControlName="name" />
      @if (name.touched && name.errors?.['required']) {
        <div class="error">名前が必要です</div>
      }
    </div>

    <div>
      <label for="password" class="label">パスワード</label>
      <input id="password" type="password" formControlName="password" />
      @if (password.touched && password.errors?.['required']) {
        <div class="error">パスワードが必要です</div>
      }
      @if (password.touched && password.errors?.['minlength']) {
        <div class="error">最低4文字を入力してください</div>
      }
    </div>

    <button type="submit" [disabled]="myForm.invalid">サインイン</button>
  </form>
</div>
<p class="error">{{ message }}</p>
