<p>レシート一覧</p>
<div class="search-sales">
  <input type="text" [formControl]="searchText" placeholder="ユーザー名" />

  <button (click)="searchSales()">検索</button>
</div>

<div class="sales-priod">
  <h5>期間を指定</h5>
  <div class="start-date">
    <mat-form-field>
      <mat-label>開始日</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        placeholder="日付選択"
        [value]="selectedStartDate"
        (dateChange)="onStartDateChange($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker panelClass="ja-datepicker"></mat-datepicker>
    </mat-form-field>

    <input
      type="time"
      [value]="selectedStartDate ? (selectedStartDate | date : 'HH:mm') : ''"
      (change)="onStartTimeChange($event)"
      aria-label="開始時刻"
    />
  </div>

  <p>~</p>

  <div class="end-date">
    <mat-form-field>
      <mat-label>終了日</mat-label>
      <input
        matInput
        [matDatepicker]="endPicker"
        placeholder="日付選択"
        [value]="selectedEndDate"
        (dateChange)="onEndDateChange($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker panelClass="ja-datepicker"></mat-datepicker>
    </mat-form-field>

    <input
      type="time"
      [value]="selectedEndDate ? (selectedEndDate | date : 'HH:mm') : ''"
      (change)="onEndTimeChange($event)"
      aria-label="終了時刻"
    />
  </div>
</div>

<table class="table">
  <tr>
    <th class="id">ID</th>
    <th class="date">日付</th>
    <th class="user-name-title">ユーザー名</th>
    <th class="total-with-tax">税込み合計金額</th>
  </tr>

  @for (sale of viewSales.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); track $index) {
  <tr>
    <td>
      <a [routerLink]="['/sales-detail', sale.id]">{{ sale.id }}</a>
    </td>
    <td>{{ sale.date }}</td>
    <td class="user-name">
      <a [routerLink]="['/users-detail', sale.user_id]"> {{ sale.user_name }}</a>
    </td>

    <td>
      {{ getItemTotalWithTax(sale.total) | currency : 'JPY' : 'symbol' : '1.0-0' }}
    </td>
  </tr>
  }
</table>

<app-pager [itemCount]="viewSales.length" [(pageIndex)]="pageIndex" [pageSize]="pageSize" />

<div class="sales-total-with-tax">
  <strong>
    税込み総売上金額：{{ getTotalWithTax() | currency : 'JPY' : 'symbol' : '1.0-0' }}
  </strong>
</div>
