<p>ユーザー編集</p>

<form [formGroup]="myForm" (submit)="update()">
  <div>ID {{ id }}</div>

  <div>
    <label>
      名前
      <input type="text" formControlName="name" />
    </label>
  </div>

  <div>
    <label>
      メール
      <input type="mail" formControlName="email" />
    </label>
  </div>

  <div>
    <label>
      電話番号
      <input type="text" formControlName="tel" />
    </label>
  </div>

  <div>
    <label>
      都道府県
      <select class="drop-down" formControlName="prefecturesDropDown">
        @for (prefecture of getPrefectures(); track $index) {
          <option>{{ prefecture.name }}</option>
        }
      </select>
    </label>
  </div>

  <div>
    <label>
      住所
      <input type="text" formControlName="address" />
    </label>
  </div>

  <div>
    <button type="submit" [disabled]="myForm.invalid">更新</button>
  </div>
</form>

<button type="button" (click)="destroy()" [disabled]="myForm.invalid">削除</button>
