.menu-list {

  .categories {
    width: auto;
  }

  .items {
    width: auto;
  }

  .users {
    width: auto;
  }

  .sales {
    width: auto;
  }
}

ul {
  list-style: square;
  padding-left: 1.2em;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1rem;
}

@media (max-width: 600px) {
    .menu-list {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        column-gap: 2px;
        justify-self: end;
        width: 100%;
        max-width: 800px;
        height: 100%;
      }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90vw;
  }

  li {
    width: 90vw;
    max-width: 100vw;
    box-sizing: border-box;
    border: 1px solid #cc4343;
    background-color: #fff7e6;
    margin: 0;
    padding: 0.8em 0;
    text-align: center;
  }
}

