table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  tr {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    &:nth-child(even) {
      background-color: #eee;
    }
  }
  th,
  td {
    padding: 0.35rem 1rem;
    text-align: left;
  }
  thead tr {
    background-color: #ff7433;
    color: #fff;
    th {
      font-size: 0.85rem;
      padding: 1rem;
      text-align: left;
    }
  }
  tbody tr {
    th {
      text-align: left;
      font-size: 0.8rem;
    }
    .txt {
      text-align: left;
    }
    .price {
      text-align: right;
      font-weight: bold;
      color: #ff5400;
    }
  }
}

p {
  text-align: center;
}

.search-sales {
  margin: 0 auto 1rem auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.search-sales input[type='text'] {
  margin-right: 0.5rem;
}

.search-sales button:hover {
  background-color: lighten($color: #ccc, $amount: 10%);
}

img {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.sale-item-info,
.total-price {
  padding: 1.2rem 1.5rem;
  margin: 1rem auto 2rem auto;
  max-width: 600px;
  font-size: 1.14rem;
  line-height: 1.7;

  p {
    margin: 0.4em 0;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}

.user-name a,
.item-name a {
  color: inherit;
  text-decoration: none;
  background: none;
  outline: none;
  box-shadow: none;
  font-weight: inherit;
  transition: color 0.2s, border-bottom 0.2s;
}

.user-name a:hover,
.user-name a:focus,
.item-name a:hover,
.item-name a:focus {
  color: #ff4b33;
  background-color: #fff7e6;
  outline: none;
}

.return-sales-button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em; 
}
