<p>商品詳細</p>
<div class="form-group">
  <form>
    <div>
      <label class="label">ID</label>
      <span>{{ item.id }}</span>
    </div>
    <div>
      <label class="label">名前</label>
      <span>{{ item.name }}</span>
    </div>
    <div class="category-name">
      <label class="label">カテゴリー</label>
      <a [routerLink]="['/categories-detail', item.category_id]">
        {{ convertCategoryName(item.category_id) }}
      </a>
    </div>
    <div>
      <label class="label">価格（円）</label>
      <span>{{ item.price }}</span>
    </div>
    <div>
      <label class="label">在庫数</label>
      <span>{{ item.stock }}</span>
    </div>
    <div>
      <label class="label">説明</label>
      <span>{{ item.description }}</span>
    </div>
    <div>
      <label class="label">画像</label>
      <span>
        @if (item.image_url) {
        <img [src]="getImageUrl()" alt="アイテム画像" style="max-width: 200px; max-height: 200px" />
        }
      </span>
    </div>
    <div>
      <button type="button" (click)="edit()">編集</button>
    </div>
  </form>

  <button (click)="returnPage()">戻る</button>
</div>
