<p>ITEMS-SHOW</p>
<div>ID {{ item.id }}</div>
<div>NAME {{ item.name }}</div>
<div class="category-name">
  CATEGORY
  <a [routerLink]="['/categories-detail', item.category_id]">
    {{ convertCategoryName(item.category_id) }}
  </a>
</div>
<div>PRICE {{ item.price }}</div>
<div>DESCRIPTION {{ item.description }}</div>
<div>
  IMAGE @if (item.image_url){
  <div>
    <img [src]="getImageUrl()" alt="アイテム画像" style="max-width: 200px; max-height: 200px" />
  </div>
  }
</div>
<div><button (click)="edit()">EDIT</button></div>
