<p>商品詳細</p>
<div>ID {{ item.id }}</div>
<div>名前 {{ item.name }}</div>
<div class="category-name">
  カテゴリー
  <a [routerLink]="['/categories-detail', item.category_id]">
    {{ convertCategoryName(item.category_id) }}
  </a>
</div>
<div>価格（円） {{ item.price }}</div>
<div>説明 {{ item.description }}</div>
<div>
  画像 @if (item.image_url){
  <div>
    <img [src]="getImageUrl()" alt="アイテム画像" style="max-width: 200px; max-height: 200px" />
  </div>
  }
</div>
<div><button (click)="edit()">編集</button></div>
