<p>ユーザー一覧</p>
<div class="search-users">
  <input type="text" [formControl]="searchText" placeholder="名前" />
  <input type="text" [formControl]="searchMailText" placeholder="メール" />

  <button (click)="searchUsers()">検索</button>
</div>

<button class="create-button" (click)="createUsers()">作成</button>

<table class="table">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>メール</th>
  </tr>

  @for (user of viewUsers.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); track $index) {
  <tr>
    <td>
      <a [routerLink]="['/users-detail', user.id]">{{ user.id }}</a>
    </td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
  </tr>
  }
</table>

<app-pager [itemCount]="viewUsers.length" [(pageIndex)]="pageIndex" [pageSize]="pageSize" />
