<p>ユーザー詳細</p>
@if (user) {
<div class="form-group">
  <form>
    <div class="form-item">
      <label>ID</label>
      <span>{{ user.id }}</span>
    </div>
    <div class="form-item">
      <label>名前</label>
      <span>{{ user.name }}</span>
    </div>
    <div class="form-item">
      <label>メール</label>
      <span>{{ user.email }}</span>
    </div>
    <div class="form-item">
      <label>電話番号</label>
      <span>{{ user.tel }}</span>
    </div>
    <div class="form-item">
      <label>都道府県</label>
      <span>{{ convertPrefectureName(user.prefecture_id) }}</span>
    </div>
    <div class="form-item">
      <label>住所</label>
      <span>{{ user.address }}</span>
    </div>
    <div class="form-actions">
      <button type="button" (click)="edit()">編集</button>
    </div>
  </form>

  <button (click)="returnPage()">戻る</button>
</div>
}
