<p>USERS-CREATE</p>
<div class="form-group">
  <form [formGroup]="myForm" (submit)="store()">
    <div>
      NAME
      <input type="text" formControlName="name" placeholder="NAME"/>
      @if (name.touched && name.errors?.['required']) {
      <div class="error">名前が必要です</div>
      }
    </div>
    <div>
      MAIL
      <input type="mail" formControlName="email" placeholder="MAIL"/>
    </div>
    <div>
      TEL
      <input type="text" formControlName="tel" placeholder="TEL"/>
    </div>
    <div>
      PREFECTURE
      <select class="drop-down" formControlName="prefecturesDropDown">
        @for (prefecture of getPrefectures(); track $index) {
        <option>{{ prefecture.name }}</option>
        }
      </select>
    </div>
    <div>
      ADDRESS
      <input type="text" formControlName="address" placeholder="ADDRESS"/>
    </div>
    <div><button type="submit" [disabled]="myForm.invalid">STORE</button></div>
    <hr />
  </form>
</div>
